.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
}

.header-container {
  padding: 10px;
}

.title {
  text-align: left;
}

.description {
  text-align: right;
  font-weight: normal;
  font-size: 16px;
  max-width: 50vw;
}

.App-logo {
  /* height: 80%; */
}

.App-body {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
}

.config-column {
  width: 30%;
  border-right: 1px solid black;
  background-color: #FFFFFF;
}

.savings-column {
  width: 40%;
  background-color: palegreen;
}

.org-column {
  padding: 30px;
}

.org-column h1 {
  margin: 0;
}

.salary-table table {
  background-color: #282c34;
  color: white;
  width: 100%;
  margin-bottom: 60px;
  margin-top: 30px;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
}

.role-table table {
  background-color: #282c34;
  color: white;
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
}

.total-row td {
  border-top: 2px solid #85EA2D;
}

td {
  padding: 10px;
  /* text-align: left; */
}

th {
  padding: 10px;
  border-bottom: 2px solid #85EA2D;
}

input {
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid grey;
  margin-left: 5px;
  max-width: 75px;
  text-align: center;
  letter-spacing: .1em;
}
